* {
  margin: 0;
}
/* shared style */
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background: #fd6e0a;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 18px 35px;
  margin-top: 25px;
}

/* header style */
.head-container {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, bottom left;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 225px;
  padding-top: 50px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
  font-size: 20px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.banner {
  padding: 30px 30px 0 225px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 584px;
  height: 676px;
}

.banner-gretting {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner-title {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.banner-content {
  max-width: 580px;
}

/* main section style */

.about {
  background: #fff8f3;
  width: 1140px;
  height: 550px;
  margin: 130px auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  color: #181818;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 30px;
}

.about-details {
  color: #757575;
  max-width: 827px;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 30px;
}

.about-info {
  display: flex;
  gap: 50px;
}
.info-details {
  text-align: center;
}
.title {
  color: #757575;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.details {
  color: #474747;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.what-i-do-title {
  color: #181818;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
}
.what-i-do-details {
  max-width: 910px;
  color: #757575;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 30px auto 50px;
}
.what-i-know {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.what-i-know-card {
  width: 220px;
  height: 377px;
  padding: 30px 33px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.what-i-know-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}
.what-i-know-details {
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.my-resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resume-title {
  color: #181818;
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  margin-top: 130px;
  margin-bottom: 110px;
}
.resume {
  display: flex;
  gap: 40px;
  justify-content: center;
}
.education-experience-title {
  color: #474747;
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 700;
  /* margin-bottom: 30px; */
}
.degree-position {
  color: #474747;
  font-family: Open Sans;
  font-size: 25px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
}
.institution {
  color: #757575;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.degree-position-details {
  max-width: 510px;
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
  margin-right: 75px;
  margin-bottom: 30px;
}
footer {
  background: #fff8f3;
  margin-top: 130px;
}
.footer-container {
  width: 1210px;
  padding: 130px 0;
  margin: 130px auto 0;
  display: flex;
  gap: 120px;
  justify-content: space-between;
}
.footer-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
}

.connection-details {
  max-width: 560px;
  color: #474747;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.important-links {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}
.important-links img {
  width: 30px;
  height: 30px;
}
form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
input {
  border-radius: 5px;
  /* background: #fff; */
  padding: 18px 330px 18px 30px;
  border: 0;
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}
textarea {
  border-radius: 5px;
  padding: 18px 30px;
  border: 0;
  color: #757575;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}

.hide {
  display: none;
}

/* Responsive styles  */

/* Mobile Device */
@media screen and (max-width: 576px) {
  .what-i-do-details {
    padding: 0 30px;
  }
  .what-i-know,
  .resume {
    flex-direction: column;
  }
  .what-i-know-card {
    margin: 0 auto;
  }
  .footer-container {
    flex-direction: column;
  }
  .connect-me {
  }
  .connection-details {
    width: auto;
  }
}

/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .what-i-do-details {
    padding: 0 30px;
  }
  .what-i-know {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .what-i-know-card {
    margin: 0 auto;
  }
}
